/* Estilos base para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Evitar desbordamientos */
    background: linear-gradient(45deg, #073f00, #000000, #006e12, #264b1f); /* Fondo degradado */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; /* Animación del fondo */
}

/* Animación del fondo */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Estilos para el contenedor principal */
.contenedor {
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px #006e12;
}

/* Estilos para el título */
.titulo {
    font-size: 60px;
    color: #09ff00;
    font-family: minecraft;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

/* Estilos para los campos de entrada */
.campos {
    margin-bottom: 20px;
}

.campos input[type="email"],
.campos input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ffffff; /* Borde con color blanco */
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    color: #ffffff;
    outline: none;
    transition: border-color 0.3s ease;
}

.campos input[type="email"]:focus,
.campos input[type="password"]:focus {
    border-color: #13e600; /* Color de borde al enfocar */
}

/* Estilos para el botón de envío */
.campos input[type="submit"] {
    width: 100%;
    background-color: #07ce00; /* Color de fondo del botón */
    color: #ffffff;
    border: none;
    font-family: minecraft;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra al botón */
    transition: background-color 0.3s ease;
}

.campos input[type="submit"]:hover {
    background-color: #25df00;
    box-shadow: 0px 0px 12px rgb(10, 255, 1) /* Color de fondo del botón al pasar el mouse */
}

/* Estilos para los enlaces */
.campos a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.campos a:hover {
    color: #33ff00; 
  /* Color de enlace al pasar el mouse */
}

/* Estilos para el chatbot */
.chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Personalización del chatbot */
df-messenger {
    --df-messenger-bot-message: #5a6168;
    --df-messenger-button-titlebar-color: #07b66d;
    --df-messenger-chat-background-color: #414bcc9d;
    --df-messenger-font-color: rgb(255, 255, 255);
    --df-messenger-send-icon: #47cc12;
    --df-messenger-user-message: #23c910;
}
